.ipynb_checkpoints
.DS_Store
.vscode
__pycache__
input/**
.idea/**
input/**
twitter/**
logs/**
old_run/**
trained/**
*.csv
*.json
*.jar
*.h5
*.pkl
*.txt
*.yaml
lib/**
*.xml
*.owl
*.swp
